extend default

block content
  h2 PICT
  p. 
    Pairwise Independent Combinatorial Tool by Microsoft for generating combinations based on specified parameters, typically used for testcase generation. PICT is available at #[a(href='https://github.com/microsoft/pict') https://github.com/microsoft/pict]

  h2 This site
  p.
    PICT is one of the tools I'm using relatively often in my work to provide sufficient coverage during either manual exploratory testing of a new feature, or when developing test automation. For this reason, I wanted to make a simple web frontend for PICT.

  p.
    Source code for this site is available at #[a(href='https://github.com/rasmusselsmark/pairwise-testing') https://github.com/rasmusselsmark/pairwise-testing]

  p.
    -Rasmus
