doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Pairwise testing using Microsoft PICT
  body
    .header
      h1.page-title Pairwise testing using Microsoft PICT

    ul.nav
      li: a(href='/') Home
      li: a(href='/about') About
    
    .main-content
      block content
