extend default

block content
  p.
    Web frontend for Microsoft PICT tool for pairwise test case generation

  div.loginbox
    form(name="process", action="/process", method="post")
      div.input
        div.label PICT input:
        textarea(name="pict", cols="100%", rows="20")
      div.actions
        input(type="submit", value="Submit")

  p.
    Example:

  pre.
    Type:          Single, Span, Stripe, Mirror, RAID-5
    Size:          10, 100, 500, 1000, 5000, 10000, 40000
    Format method: Quick, Slow
    File system:   FAT, FAT32, NTFS
    Cluster size:  512, 1024, 2048, 4096, 8192, 16384, 32768, 65536
    Compression:   On, Off

  p.
    See #[a(href='https://github.com/Microsoft/pict/blob/master/doc/pict.md') https://github.com/Microsoft/pict/blob/master/doc/pict.md] for more information.
